// Media
.avb-banner__media {
	width: 75%;
	position: relative;
	padding: 0 0 2rem 2rem;

	@include breakpoint(mamabear) {
		display: none;
	}
	
	.avb-banner__medium { 
		width: 100%;
		height: 100%;
		//animation:slideOut .4s cubic-bezier(0.4, 0.29, 0.01, 1);
		position: relative;

		&.image {
			height: 100%;
			background-size: cover;
			background-position: center;
			transition:all .8s ease;
			min-height: 600px;

			img {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	.squares { 
		width: 96px;
		height: 96px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
	}

	video {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%) scale(1.15);
	}

	iframe {
		position: relative;
		pointer-events: none;
	}
	
	.loading {
		position: absolute;
		top: 44%;
		left: 0;
		width: 100%;
	}
	
}

&[data-type="avb_youtube"],
&[data-type="avb_youtube"] {

	.avb-banner__media {
		height: 600px;
		overflow: hidden;

		iframe { 
			transform: scale(1.3);
		}

		&::after,
		&::before { 
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
		}

		&::before {
			width: 2rem;
			height: 100%;
			background: var(--fl1-primary);
		}

		&::after { 
			width: 100%;
			height: 2rem;
			background: #fff;
		}
	}

}