/**
 * AVB Styles
 *
 * @package advanced-video-banners/
 * @dependency slick.js
 * @version 1.0
*/

section.avb {
    width: 100%;
    height: 100%;
    position: relative;
    background: $primary;
    margin-top: 128px;

    .avb-banners {

        position: relative;
        width: 100%;
        background: $primary;

        &.slick-initialized {
            opacity: 1;
            visibility: visible;
        }

        .show-on-mobile {
            display: none;

            @include breakpoint(cousinbear) {
                display: block;
            }
        }

        .hide-on-mobile {
            display: block;

            @include breakpoint(cousinbear) {
                display: none;
            }
        }

        &.avb-home {
            .avb-banner {
                @include breakpoint(cousinbear) {
                    align-items: center;
                }
            }
        }

        .avb-banner {
            position: relative;
            display: flex;
            align-items: center;
            //min-height: 250px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.0, 1.0);
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2rem;
                background: #fff;
                bottom: 0;
                left: 0;

                @include breakpoint(mamabear) {
                    display: none;
                }
            }

            @for $i from 25 through 100 {
                &.avb-#{$i}vh {
                    height: #{$i}vh;
                }
            }

            @import 'avb-caption';
            @import 'avb-media';

            .avb-banner__overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: flex;

                @for $i from 0 through 100 {
                    $num: 100-$i;
                    $alpha: calc($num / 100);

                    &.opacity-#{$num} {
                        @if $i ==100 {
                            display: none;
                        }

                        @else {
                            background: linear-gradient(90deg, rgb(0, 0, 0, $alpha) 33%, rgba(0, 0, 0, 0) 100%);

                            @include breakpoint(teenbear) {
                                background: linear-gradient(90deg, rgb(0, 0, 0, $alpha) 100%, rgba(0, 0, 0, 0) 100%);
                            }
                        }

                    }
                }

            }

        }

        @import 'avb-empty';
        @import 'avb-slick-dots';

        &.avb-inner {

            // @include breakpoint(cousinbear) {
            //     margin-bottom: 0;

            //     .avb-banner { 
            //         height: auto !important;
            //         min-height: 120px;
            //         text-align: center;
            // 		position: relative;
            //         .avb-banner__caption-actions { 
            //             margin-top: 20px;
            //         }
            //     }
            // }
        }

    }

    .avb__down-arrow {
        position: absolute;
        z-index: 6;
        display: flex;
        justify-content: center;
        bottom: 150px;
        left: 50%;
        transform: translateY(-50%);

        @include breakpoint(cousinbear) {
            display: none;
        }

        figure {
            cursor: pointer;

            &:hover {
                svg {
                    transition: all .3s ease;
                    transform: scale(1.07);
                }
            }
        }

        svg {
            transition: all .3s ease;
            transform: scale(1);
            width: 50px;

            path {
                stroke: var(--fl1-white);
            }
        }
    }

}

body {
    &.fc-background-grey {
        section.avb {
            .avb-banners {
                &.avb-inner {
                    .avb-banner {
                        &:after {
                            background: var(--fl1-lightgrey);
                        }
                    }
                }
            }
        }
    }

    &.fc-background-primary {
        section.avb {
            .avb-banners {
                &.avb-inner {
                    .avb-banner {
                        &:after {
                            background: var(--fl1-lightgrey);
                        }
                    }
                }
            }
        }
    }
}