/// No Banner
&.avb-empty { 
	background: var(--fl1-primary);

	.avb-banner {
		&:after { 
			display: none;
		}

		.avb-banner__caption {
			padding: var(--fl1-spacing-xl) 0 var(--fl1-spacing-xl);

			.max__width{
				display: flex; justify-content: center;

				.avb-banner__caption-wrap { 
					padding: 0;
					width: 100%;

					h1{font-size: 2rem; line-height: 60px;}
				}
			}
		}
	}
}