/// Audio Player

.player-wrapper { 
    .plyr__controls { 
        padding: 0;
    }
    h4 { 
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 24px;
        text-align: center;
    }
}