///
/// News
///

.fc-news {
	display: flex;
	justify-content: center;

	@include breakpoint(papabear) {
		flex-direction: column;
	}

	article {
		width: 65%;
		position: relative;
		max-width: 920px;

		@include breakpoint(papabear) {
			max-width: 100%;
			width: 100%;
			margin-bottom: var(--fl1-spacing-md);
		}

		figure {
			margin: 0 40px 100px 0;

			@include breakpoint(papabear) {
				margin: 0;
			}
		}

		.article__content {
			position: absolute;
			bottom: 0;
			right: var(--fl1-spacing-md);
			padding: var(--fl1-spacing-md);
			background: #fff;
			width: 80%;
			box-shadow: 0 0 10px rgba(0, 0, 0, .1);
			min-height: 140px;

			@include breakpoint(papabear) {
				position: static;
				max-width: 100%;
				right: 0;
				min-height: auto;
				max-width: 100%;
				width: 100%;
			}

			h2 {
				font-size: var(--fl1-spacing-md);
				font-weight: 600;

				a {
					color: var(--fl1-primary);
				}
			}

			p {
				font-weight: 500;
				color: var(--fl1-text);
				line-height: 1.4;
				margin-bottom: var(--fl1-spacing-xs);
			}

			date {
				display: block;
				margin: var(--fl1-spacing-xs) 0;
				color: var(--fl1-secondary);
				font-weight: 600;
			}

			a {
				font-weight: 600;
			}
		}
	}

	.news__widgets {
		width: 35%;
		display: flex;
		flex-direction: column;
		gap: var(--fl1-spacing-md);

		@include breakpoint(papabear) {
			width: 100%;
		}

		.news__widget {
			background: #fff;
			flex: 1;
			box-shadow: 0 0 10px rgba(0, 0, 0, .1);

			&.blog {
				display: flex;

				@include breakpoint(teenbear) {
					flex-direction: column;
				}

				a.figure {
					max-width: 160px;
					width: 160px;
					flex: 1 0 auto;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					display: block;

					@include breakpoint(papabear) {
						width: 35%;
						max-width: 35%;
						min-height: 140px;
					}

					@include breakpoint(teenbear) {
						width: 100%;
						max-width: 100%;
						min-height: 240px;
					}
				}

				.blog__content {
					padding: var(--fl1-spacing-sm) var(--fl1-spacing-md);
					flex: 1;
					display: flex;
					flex-direction: column;
					gap: var(--fl1-spacing-xs);
					justify-content: center;

					h4 {
						font-size: var(--fl1-font-sm);
						font-weight: 600;

						a {
							color: var(--fl1-primary);
						}
					}

					date {
						display: block;
						color: var(--fl1-secondary);
						font-weight: 600;
					}
				}
			}
		}
	}
}