///
/// Header
/// 
header.header {
    width: 100%;
    transition: all 0.4s ease;
    width: 100%;
    z-index: 99999;
	background: $darkGrey;
    position: fixed;

    .header--site__wide__notice {
        padding: 10px 0;
        background: var(--fl1-secondary);
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        line-height: 19px;
        a {
            font-weight: 600;
        }
        .max__width {
            display: flex;
            justify-content: center;
        }
    }

    // Nav
    @import "./mega-menu";

    .header__main {
        position: relative;
        padding: 10px 0 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        // @include breakpoint(560px) {
		// 	margin: var(--fl1-spacing-md) 0;
		// }

        .max__width {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }

        &--left {
            
        }

        &--centre {
            display: flex; flex-direction: column; align-items: center;

            h2{color: $offWhite; font-size: 44px; margin-bottom: 10px;}

            .line{height: 2px; width: 100%; background: $tiffany;}

            h4{color: $offWhite; font-size: 24px; margin-top: 10px;}

            .logo {
                width: 511px;
                transition: all 0.4s ease;

				@include breakpoint(brotherbear) {
					width: 310px;
				}

				@include breakpoint(560px) {
					margin: 0 auto;
					width: 290px;
				}
				
                a {
                    display: block;
                    svg {
                        width: 100%;
                        .coloured { 
                            fill: var(--fl1-primary);       
                        }
                    }
                }
            }
        }

        &--right {

        }

        .social-nav { 
            width: 90px; font-family: $mediumFont; display: flex; flex-direction: column; align-items: center; padding: 10px 20px; background: $tiffany; color: $darkGrey; transition: .3s ease all; position: relative; top: 65px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            &:hover{transform: scale(1.05);}

            i{font-size: 26px; margin-bottom: 10px;}

            span{}
        }

        .burger__menu {
            display: none;
			margin-right: var(--fl1-spacing-md);

            @include breakpoint(papabear) {
                display: block;
            }

			@include breakpoint(560px) {
				margin-right: 0;
			}

            i {
                font-size: var(--fl1-font-lg);
                color: $primary;
            }
        }
    }

    &.sticky,
    &.not-sticky {
        transition: all 0.3s ease;
        .logo {
            width: 185px;
            transition: all 0.3s ease;
        }
    }

    &.sticky {
        top: 0;
        background: rgba(var(--fl1-secondary), 0.9);
    }

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        &.sticky {
            background: rgba(var(--fl1-secondary), 0.5);
            backdrop-filter: blur(20px);
        }
    }

    &.not-sticky {
        top: -150px;
    }

    &.reset {
        .logo {
            width: 185px;
            transition: all 0.3s ease;
            @include breakpoint(papabear) {
                width: 70px;
            }
        }
    }
}
