nav.mega-menu {
    // margin-left: var(--fl1-spacing-md);

    @include breakpoint(papabear) {
        display: none;
    }

    & > ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
            list-style: none;
            position: relative;
            a {
                font-size: 18px;
                color: $text;
                font-size: 14px;
                font-weight: 600;
                padding: var(--fl1-spacing-md) var(--fl1-spacing-xs);
                display: block;
                position: relative;
                transition: all 0.1s ease;
                text-transform: uppercase;
				border-bottom: 2px transparent solid;
            }

            &.current-page { 
                a {
                    border-bottom: 2px var(--fl1-secondary) solid;
                }
            }

            &:hover {
                a {
                    border-bottom: 2px var(--fl1-secondary) solid;
                }
            }

            &.has-columns { 
                // &:hover {
                //     &>a {
                //         background: #fff;
                //         color: var(--fl1-primary);
                //         box-shadow: 0 15px 27px rgb(0 0 0 / 20%);
                //     }
                // }   
            }

            .panel {
                transition: all .1s ease-in-out;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 65px;
                left: 0;
                background: #fff;
                box-shadow: 0 19px 17px rgb(0 0 0 / 14%);
                display: flex;
                transition: all 0.1s ease;

				&::before { 
					content: '';
					display: block;
					z-index: 2;
					width: 0; 
					height: 0; 
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-bottom: 12px solid #fff;
					position: absolute;
					top: -12px;
					left: 26px;
				}

                .panel__column {
                    width: math.percentage(math.div(1,3));
                    min-width: 220px;
                    padding: var(--fl1-spacing-sm);
                    position: relative;
                    border-right: 1px solid lighten($border, 8%);
                    flex-grow: 1;
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    &.has__icon {
                        padding-left: 30px;
                        margin-left: 16px;
                    }
                    &.panel__image {
                        border-right: none;
                    }

                    h3 {
                        font-size: 14px;
                        font-weight: 600;
                        padding: 0 0 15px;
                        margin: 0;
                        color: var(--fl1-primary);
                        a {
                            padding: 0;
                            position: static;
                            font-weight: 600;
                            color: var(--fl1-primary);
                        }

                        span {
                            display: block;
                            color: var(--fl1-primary);
                            font-size: 18px;
                            position: absolute;
                            left: 0;
                        }
                    }

                    ul {
                        width: 100%;
                        flex-direction: column;

                        li {
                            text-align: left;
                            width: auto;
                            margin-bottom: 10px;

                            a {
                                display: flex;
                                align-items: center;
                                font-weight: 500;
                                font-size: var(--fl1-font-xs);
                                color: var(--fl1-text);
                                padding: 0;
                                border: none;
                                text-transform: none;
                                letter-spacing: normal;
								
                                &:hover {
                                    border: none;
                                    color: var(--fl1-secondary);
                                }

                                figure { 
                                    width: 35px;
                                    margin-right: 20px;
                                }
                            }

							&.current-page {
								a {
									color: var(--fl1-secondary);
								}
							}

							&:last-of-type {
								margin-bottom: 0;
							}
                        }
                    }

                    .column__button {
                        display: block;
                        padding: 6px 20px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                        color: #fff;
                        background: var(--fl1-primary);
                        clear: both;
                        margin: 20px 30px 0 0;

                        &:hover {
                            background: lighten($primary, 5%);
                        }
                    }

                    &:last-of-type {
                        border-right: none;
                    }

                    &.panel__icon-links {
                        ul.icon-links {
                            li { 
                                figure { margin-right: 0;
                                    i {
                                        font-size: 20px;
                                        color: var(--fl1-primary);
                                    }
                                }
                            }
                        }
                    }

                }
            }

            &:hover > .panel {
                opacity: 1;
                z-index: 998;
                transition: all .1s ease-in-out;
                visibility: visible;
            }
        }
    }

}
